[Unit]
Description=UDP serder, running as daemon on port 3456


[Service]
ExecStart=udpserver -d -p 3456 --echo --logpath /home/{{ ansible_user }}/logs
# Required on some systems
WorkingDirectory=/home/{{ ansible_user }}/logs
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=udpde
User=devel


[Install]
WantedBy=multi-user.target